include mixins

block vars
    - var pageTitle = "Базовая"
    
doctype html
html(lang='ru')
    head
        include ../base/head
    body
        .wrapper
            include ../components/header

            main.main
                block content

            include ../components/footer
            
        include ../components/modals
        script(src='js/main.min.js')
