* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a,
a:visited {
  font-family: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
main {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-size: 100%;
  text-size-adjust: 100%;
  line-height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a:hover {
  // color: inherit;
  text-decoration: none;
}

ul,
p {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.visually-hidden {
  position: absolute;
  width: 1;
  height: 1;
  padding: 0;
  margin: -1;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  appearance: number-input;
}
