@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src:
        url("../fonts/nunito_sans_light.woff2") format("woff2"),
        url("../fonts/nunito_sans_light.woff") format("woff");
}
