html {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $font-primary;

  @include body;
}

.page--lock {
  overflow: hidden;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
