body {
  font-family: $font-primary;
  color: $color-text-main;
  background-color: $color-body-bg;

  @include body;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
