// ===========
// FONTS
// ===========

$font-primary: "Roboto", sans-serif;
$font-secondary: "Montserrat", sans-serif;

// ===========
// COLORS
// ===========

$color-white: #fff;
$color-black: #000;

// ===========
// PROPERTIES
// ===========

$transition: 0.3s ease-out;

// ===========
// SIZES
// ===========

@mixin body {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $color-black;
  background-color: $color-white;
}
