// ===========
// FONTS
// ===========

$font-primary: "Roboto", sans-serif;
$font-secondary: "Montserrat", sans-serif;

// ===========
// COLORS
// ===========

$color-white: #fff;
$color-black: #000;

// ===========
// Sizes
// ===========

@mixin body {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
